.navbar {
  background-color: #4ea7ef;
}
.links{
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
}
.links:hover {
  color: rgb(255, 251, 0);
}
.head-links {
    text-decoration: none;
}

.header-icon{
  height: 50px;
  width: 100px;
}

  .search-btn {
    padding: 10px 15px;
    background-color: #048e08; /* Green color, you can change it */
    color: white;
    border: 1px solid #4CAF50; /* Matching border color */
    border-radius: 50px;
    margin-left: 10px; /* Adjust spacing between input and button */
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add hover effect for the button */
  .search-btn:hover {
    background-color: #03af0c; /* Darker green on hover */
    border-color: #45a049;
  }
  
  .search-results{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

.cancel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

