.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-left, .headerRight {
    display: flex;
    align-items: center;

}

.head-links {
    text-decoration: none;
}
a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: goldenrod;
}

.header-icon {
    margin-right: 100px;
    width: 80px;
    cursor: pointer;
}

.user-avatar {
    font-size: 2rem;
}


.search-bar {
    display: flex;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    margin: 20px; /* Adjust margin as needed */
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    flex: 1;
    font-size: 16px;
  }
  
  .search-btn {
    padding: 10px 15px;
    background-color: #048e08; /* Green color, you can change it */
    color: white;
    border: 1px solid #4CAF50; /* Matching border color */
    border-radius: 50px;
    margin-left: 10px; /* Adjust spacing between input and button */
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add hover effect for the button */
  .search-btn:hover {
    background-color: #03af0c; /* Darker green on hover */
    border-color: #45a049;
  }
  