.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 20px;
    font-size: 50px;
}
.heading-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    font-size: 38px;
}
.desc {
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}