.poster-image{
    height: 500px;
}

.poster-image > img {
    margin: auto;
    display: block;
    width: 100%;
}

.poster-image-overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.poster-image-overlay:hover {
    opacity: 1;
}

.poster-image-title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.poster-image-runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.poster-image-rating {
    margin-left: 3rem;
}

.poster-image-description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
 
    .poster-image > img{
        height: 100%;
        width: 100%;
    }
    .poster-image-title {
        font-size: 1.0rem;
        text-align: left;
    }

    .poster-image-runtime {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .poster-image-rating {
        margin-left: 0.6rem;
        text-align: left;
    }

    .poster-image-description {
        font-size: 0.5rem;
        width: 100%;
        text-align: left;
    }
}
